<div class="card d-flex flex-column align-items-start">
    <div class="card-header border-bottom w-100 mb-3"><h5>Current Funding Policy</h5></div>
    <div class="card-body pt-0 d-flex flex-column align-items-start">
        <p class="card-text">Summary: {{funderPolicy.summary | titlecase}}</p>
        <p class="card-text">Policy: {{funderPolicy.policy | titlecase}}</p>
        <p class="card-text">Policy Modifier: {{funderPolicy.policy_mod | number}}</p>
        <p class="card-text">Leases Only: {{funderPolicy.leases_only ? 'Yes': 'No'}}</p>
        <p class="card-text">Min Remote Funding (Sats): {{(funderPolicy.min_their_funding_msat || 0)/1000 | number}}</p>
        <p class="card-text">Max Remote Funding (Sats): {{(funderPolicy.max_their_funding_msat || 0)/1000 | number}}</p>
        <p class="card-text">Min mSats/Channel (Sats): {{(funderPolicy.per_channel_min_msat || 0)/1000 | number}}</p>
        <p class="card-text">Max mSats/Channel (Sats): {{(funderPolicy.per_channel_max_msat || 0)/1000 | number}}</p>
        <p class="card-text">Reserve Tank (Sats): {{(funderPolicy.reserve_tank_msat || 0)/1000 | number}}</p>
        <p class="card-text">Fuzz Percent: {{funderPolicy.fuzz_percent | number}}</p>
        <p class="card-text" *ngIf="funderPolicy.lease_fee_base_msat">Lease Fee Base (Sats): {{(funderPolicy.lease_fee_base_msat || 0)/1000 | number}}</p>
        <p class="card-text" *ngIf="funderPolicy.lease_fee_basis">Lease Fee Basis: {{funderPolicy.lease_fee_basis | number}}</p>
        <p class="card-text" *ngIf="funderPolicy.funding_weight">Funding Weight: {{funderPolicy.funding_weight | number}}</p>
        <p class="card-text" *ngIf="funderPolicy.channel_fee_max_base_msat">Max Channel Routing Base Fee (Sats): {{(funderPolicy.channel_fee_max_base_msat || 0)/1000 | number}}</p>
        <p class="card-text" *ngIf="funderPolicy.channel_fee_max_proportional_thousandths">Max Channel Routing Fee Rate (ppm): {{funderPolicy.channel_fee_max_proportional_thousandths | number}}</p>
        <div class="d-flex flex-row justify-content-around">
            <button type="submit" autofocus class="btn btn-outline-primary" tabindex="1" (click)="updateFundingPolicy()">Update Funding Policy</button>
        </div>
    </div>
</div>
