$primary: #05445e !default;
$secondary: #aa4465 !default;
$info: rgba(80, 94, 109,  1) !default;
$danger: #a10413 !default;
$body-color: $primary !default;
$border-color: $primary !default;
$card-border-color: $primary !default;

@import "node_modules/bootstrap/scss/bootstrap";

body {
    background-image: linear-gradient(180deg, rgba(80, 94, 109,  0.01), rgba(80, 94, 109,  0.02), rgba(80, 94, 109,  0.04), rgba(80, 94, 109,  0.06), rgba(80, 94, 109, 0.6));
    height: 110vh;
    scrollbar-width: thin;
}

.container {
    max-width: 960px;
}

.nav-link {
    color: $primary;
    text-decoration: none;;
    &:hover {
        color: $secondary;
        .bi {
            fill: $secondary;
        }
    }
    &.active-link {
        color: $secondary;
        .bi {
            fill: $secondary;
        }
    }
}

.bi {
    fill: $primary;
    cursor: pointer;
    &:hover {
        fill: $secondary;
    }
}

.card-header {
    background-color: rgba(0, 0, 0, 0) !important;
    border-bottom: none;
}

.panel-collapse {
    & .panel-body {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
}

.accordion-toggle .btn.btn-block {
    cursor: default;
}

.table > :not(:first-child) {
    border-top: none;
}

.table {
    & thead tr th {
        font-weight: 400;
        padding-top: 0;
        padding-bottom: 0;
        min-width: 130px;
        max-width: 130px;
        text-align: right;
    }
    & tbody tr td {
        text-align: right;
    }
    & .th-node-alias {
        min-width: 180px;
        max-width: 180px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow-x: hidden;
        text-align: left !important;
    }
}

.modal {
    overflow-wrap: break-word;
    & .modal-dialog {
        max-width: 960px;
    }
}

.w-98 {
    width: 98% !important;
}

.form-control:disabled, .form-control[readonly] {
    opacity: 1;
    cursor: not-allowed;
}

.input-group.form-floating {
    .bi {
        fill: $primary;
        cursor: pointer;
        &:hover {
            fill: $white;
        }
    }    
}

.node-color-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%; 
}

.border-bottom-thin {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
}

.border-bottom-thick {
    border-bottom: 3px solid rgba(0, 0, 0, 0.125) !important;
}

.border-around {
    border: 1px solid rgba(0, 0, 0, 0.125) !important;
    border-radius: 4px;
}

.h-60-px {
    height: 60px !important;
}
