
<h2 class="display-6 text-center py-2 mt-5 mb-2 border-top border-bottom">Compare Liquidity Offers</h2>
<div class="table-responsive">
    <table class="table text-start">
      <thead>
        <tr>
          <th class="th-node-alias"></th>
          <th>Lease Base (Sats)</th>
          <th>Lease Rate</th>
          <th>Funding</th>
          <th>Max Routing Base (Sats)</th>
          <th>Max Routing Rate (ppm)</th>
        </tr>
      </thead>
      <tbody *ngIf="nodesToCompare && nodesToCompare?.length && nodesToCompare.length > 0; else noRowBlock">
        <tr *ngFor="let lqNode of nodesToCompare">
          <th scope="row" class="text-start th-node-alias">{{lqNode.alias}}</th>
          <td>{{(lqNode?.option_will_fund?.lease_fee_base_msat || 0)/1000 | number}}</td>
          <td>{{lqNode?.option_will_fund?.lease_fee_basis}}</td>
          <td>{{lqNode?.option_will_fund?.funding_weight}}</td>
          <td>{{(lqNode?.option_will_fund?.channel_fee_max_base_msat || 0)/1000 | number}}</td>
          <td>{{lqNode?.option_will_fund?.channel_fee_max_proportional_thousandths}}</td>
        </tr>
      </tbody>
    </table>
</div>
<ng-template #noRowBlock>
  <tbody>
    <tr>
      <td colspan="6">Select Nodes to Compare.</td>
    </tr>
  </tbody>
</ng-template>